body{
  background-image: linear-gradient(to right,black,rgb(36, 36, 36),gray);
  flex: 1;
  font-family: Lexend Exa;
}
input{
  font-family: Lexend Exa;

}
td, tr{
  font-family: Lexend Exa;
  color: rgb(0, 0, 0);
  padding: 10px;
	text-align: left;
	border: solid 4px;
  border-collapse: collapse;
  background-color: rgb(196, 196, 196);
}

h2{
  color: rgb(0, 0, 0);
  display: flex;
}

table {
  border-collapse: collapse;
  width: 500px;
  max-height: 200px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

th{
  text-align: center;
  
}

button{
  display: flex;
  margin-left: 600px;
  font-family: Lexend Exa;
  font-size: 15px;
  color: #FAFAFA;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #FAFAFA;
  background: #252525;
  box-shadow: 3px 3px #fafafa;
  cursor: pointer;
 
}

button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}

#sales-contacts{
  width: 790px;
  max-height: 500px; 
  overflow-y: scroll;
  display: block;
  padding-top: 25px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
  border-radius: 5px;
}